.intro__main-art {
  width: 220px;
  margin-top: 25px;
}

.intro__subtitle {
  width: 28ch;
  max-width: 80%;
  text-align: center;
  font-size: calc(1rem * 16 / 16);
  font-weight: 600;
  margin-top: 22px;
  background-image: linear-gradient(
    to right,
    var(--colors-yellow),
    var(--colors-red)
  );
}

.intro__naruto-sasuke-art {
  width: 75%;
  max-width: 320px;
  margin-top: calc(var(--vh, 1vh) * 6);
}

@media screen and (min-width: 48rem) {
  .intro__main-art {
    width: 300px;
    margin-top: 50px;
  }

  .intro__subtitle {
    font-size: calc(1rem * 26 / 16);
    margin-top: 30px;
    width: 40ch;
  }

  .intro__naruto-sasuke-art {
    max-width: 450px;
    margin-top: 3vw;
  }
}

@media screen and (min-width: 93.75rem) {
  .intro__main-art {
    margin-top: 60px;
  }

  .intro__naruto-sasuke-art {
    max-width: 500px;
  }
}
