@keyframes scaleUp {
  100% {
    transform: scale(1.2);
  }
}

.writing__heading {
  font-size: calc(1rem * 40 / 16);
  margin-top: 15px;
}

.writing__info {
  display: flex;
  margin-top: 15px;
  flex-direction: column;
  width: 90%;
}

.writing__info-heading {
  font-weight: 500;
  font-size: calc(1rem * 24 / 16);
}

.writing__info-text {
  color: var(--colors-pink);
  font-size: calc(1rem * 14 / 16);
  margin-top: 5px;
  font-weight: 400;
}

.writing__art-wrapper {
  height: 55%;
  margin: auto 0;
  width: 90%;
  background: radial-gradient(#050606 20%, var(--colors-brown) 70%);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.writing__art {
  height: 100%;
  animation: scaleUp infinite alternate linear 10s;
}

@media screen and (min-width: 48rem) {
  .writing__heading {
    font-size: calc(1rem * 65 / 16);
    margin-top: 20px;
  }

  .writing__info-text {
    font-size: calc(1rem * 23 / 16);
    line-height: 1.25;
    margin-top: 10px;
  }

  .writing__info-heading {
    font-size: calc(1rem * 46 / 16);
  }

  .writing__info {
    width: 90%;
    margin-top: 25px;
  }
}

@media screen and (min-width: 87.5rem) {
  .writing__info {
    width: 900px;
    margin-top: 30px;
  }

  .writing__heading {
    font-size: calc(1rem * 96 / 16);
    margin-top: 30px;
  }
}

@media screen and (min-width: 125rem) {
  .writing__info {
    width: 1100px;
  }

  .writing__info-heading {
    font-size: calc(1rem * 50 / 16);
  }

  .writing__info-text {
    font-size: calc(1rem * 26 / 16);
  }
}
