:root {
  --colors-brown: #090b0b;
  --colors-light-brown: #131616;
  --colors-red: #de4335;
  --colors-pink: #ff7e42;
  --colors-yellow: #f0c528;

  /* 
   Breakpoint reference since they've to be in rem due to accessibility.
   118.75rem - 1900px 
   125rem - 2000px
   48rem - 768px
   23.125rem - 370px
  */
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Rubik';
}

html {
  height: 100%;
}

body {
  box-sizing: border-box;
  height: 100%;
  background-color: var(--colors-brown);
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  cursor: pointer;
  border: none;
}

a:focus-visible,
button:focus-visible {
  outline: 1px solid white;
  outline-offset: 2px;
  box-shadow: 0 0 0 5px black;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: var(--colors-light-brown);
}

body::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-image: linear-gradient(
    to bottom,
    var(--colors-yellow),
    var(--colors-red)
  );
  border: 0.1rem solid #090b0b;
}
