.characters__section {
  display: grid;
  grid-template-areas: 'heading' 'character' 'fullname' 'bio' 'selection';
  justify-content: space-between;
  justify-items: center;
  padding-bottom: 10px;
  margin-top: 20px;
}

.characters__heading {
  font-size: calc(1rem * 40 / 16);
  font-weight: 600;
  grid-area: heading;
}

.characters__character {
  height: 190px;
  margin-top: 10px;
  position: relative;
  grid-area: character;
}

.characters__character-art {
  height: 100%;
  position: relative;
  z-index: 10;
}

.characters__character-spotlight {
  background: radial-gradient(
    var(--colors-light-brown) 20%,
    var(--colors-brown) 55%
  );
  border-radius: 50%;
  width: 150px;
  height: 100px;
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
}

.characters__fullname {
  grid-area: fullname;
  font-size: calc(1rem * 30 / 16);
  font-weight: 500;
  margin-top: 20px;
  position: relative;
  z-index: 10;
}

.characters__bio {
  grid-area: bio;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 170px;
}

.characters__bio-text {
  margin-top: 10px;
  font-size: calc(1rem * 12 / 16);
  font-weight: 400;
  color: var(--colors-pink);
  text-align: center;
  width: 90%;
}

.characters__bio-text:first-of-type {
  margin-top: 5px;
}

.characters__selection {
  grid-area: selection;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin-top: 15px;
}

.characters__selection-button {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: var(--colors-pink);
  box-shadow: 0 0 12px #ff7e4244;
  outline: var(--colors-pink) solid 2px;
  outline-offset: 3px;
}

.characters__selection-button svg {
  width: 8px;
}

.characters__selection-character-wrapper {
  display: flex;
  align-items: baseline;
  column-gap: 35px;
}

.characters__selection-character-label {
  cursor: pointer;
}

.characters__selection-character-art {
  height: 55px;
  opacity: 0.4;
  transition: 200ms all ease-out;
}

.characters__selection-character-input:checked
  + .characters__selection-character-label
  .characters__selection-character-art {
  height: 60px;
  opacity: 1;
  filter: drop-shadow(0 0 10px #ff7e4241);
}

.characters__selection-button-desktop {
  display: none;
}

@media screen and (min-width: 48rem) {
  .characters__heading {
    font-size: calc(1rem * 65 / 16);
  }

  .characters__character {
    height: 350px;
  }

  .characters__character-spotlight {
    width: 250px;
    height: 150px;
    bottom: -60px;
  }

  .characters__fullname {
    font-size: calc(1rem * 52 / 16);
    margin-top: 35px;
  }

  .characters__bio {
    height: 250px;
  }

  .characters__bio-text {
    font-size: calc(1rem * 22 / 16);
    width: 75%;
    line-height: 1.2;
    margin-top: 20px;
  }

  .characters__bio-text:first-of-type {
    margin-top: 0;
  }

  .characters__selection {
    width: 70%;
  }

  .characters__selection-button {
    width: 25px;
    height: 25px;
    outline: var(--colors-pink) solid 2px;
    outline-offset: 5px;
  }

  .characters__selection-button svg {
    width: 15px;
  }

  .characters__selection-character-wrapper {
    column-gap: 60px;
  }

  .characters__selection-character-art {
    height: 80px;
  }

  .characters__selection-character-input:checked
    + .characters__selection-character-label
    .characters__selection-character-art {
    height: 85px;
  }
}

@media screen and (min-width: 87.5rem) {
  .characters__heading {
    font-size: calc(1rem * 96 / 16);
  }

  .characters__section {
    grid-template-areas: 'heading heading' 'character fullname' 'character bio' 'selection .';
    justify-content: center;
    grid-template-rows: 15% 15% 50% 20%;
    column-gap: 30px;
    grid-template-columns: 500px 800px;
  }

  .characters__fullname {
    font-size: calc(1rem * 60 / 16);
    justify-self: start;
  }

  .characters__bio {
    align-self: start;
  }

  .characters__bio-text {
    text-align: left;
    width: 100%;
    font-size: calc(1rem * 25 / 16);
  }

  .characters__selection-button-mobile {
    display: none;
  }

  .characters__selection-button-desktop {
    display: flex;
  }

  .characters__selection-button {
    position: absolute;
    transition: 300ms all ease;
    top: 50px;
  }

  .characters__selection-button-left {
    left: 0;
  }

  .characters__selection-button-right {
    right: 0;
  }

  .characters__selection-button:hover {
    outline-offset: 6px;
    box-shadow: 0 0 5px #ff7e42b7;
    transition: 150ms all ease-in-out;
    transform: scale(1.1);
  }

  .characters__selection-button:active {
    outline-offset: 5px;
    box-shadow: 0 0 2px #ff7e42b7;
    transition: 80ms all ease-in-out;
    transform: scale(1.03);
  }

  .characters__character {
    height: 550px;
    margin: 0 0 45px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .characters__character-spotlight {
    width: 450px;
    bottom: -95px;
    height: 250px;
  }

  .characters__selection {
    justify-content: center;
  }

  .characters__selection-character-wrapper {
    column-gap: 100px;
  }

  .characters__selection-character-art {
    height: 110px;
  }

  .characters__selection-character-art:hover {
    opacity: 0.8;
    transform: scale(1.005);
  }

  .characters__selection-character-input:checked
    + .characters__selection-character-label
    .characters__selection-character-art {
    height: 120px;
  }
}

@media screen and (min-width: 118.75rem) {
  .characters__section {
    grid-template-columns: 500px 900px;
    column-gap: 50px;
  }

  .characters__character {
    height: 600px;
  }

  .characters__fullname {
    font-size: calc(1rem * 64 / 16);
  }

  .characters__bio-text {
    font-size: calc(1rem * 28 / 16);
  }
}

@media screen and (min-width: 125rem) {
  .characters__section {
    grid-template-columns: 600px 1100px;
    column-gap: 80px;
  }

  .characters__character {
    height: 800px;
    width: 95%;
  }

  .characters__fullname {
    font-size: calc(1rem * 68 / 16);
  }

  .characters__bio {
    height: 400px;
  }

  .characters__bio-text {
    font-size: calc(1rem * 31 / 16);
  }

  .characters__character-spotlight {
    width: 750px;
    bottom: -109px;
    height: 276px;
  }

  .characters__selection-character-art {
    height: 130px;
  }

  .characters__selection-character-input:checked
    + .characters__selection-character-label
    .characters__selection-character-art {
    height: 140px;
  }
}
