.story__dialog-overlay {
  position: fixed;
  height: calc(var(--vh, 1vh) * 100);
  background-color: black;
  opacity: 0.8;
  width: 100%;
}

.story__dialog {
  position: fixed;
  height: calc(var(--vh, 1vh) * 95);
  width: 90%;
  z-index: 100;
  background-color: var(--colors-brown);
  box-shadow: 0 0 5px #ff7e4250;
  border-radius: 2px;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 10px 10px;
  overflow-x: hidden;
}

.story__dialog::-webkit-scrollbar {
  width: 8px;
  background-color: var(--colors-light-brown);
}

.story__dialog::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: transparent;
}

.story__dialog::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-image: linear-gradient(
    to bottom,
    var(--colors-yellow),
    var(--colors-red)
  );
  border: 0.1rem solid #090b0b;
}

.story__progress {
  position: sticky;
  top: 0;
  height: 4px;
  transform-origin: left;
  padding: 2px 0;
  transform: scaleX(0);
  transition: all 100ms;
  margin-left: -20px;
  width: calc(100% + 40px);
}

.story__dialog-close {
  position: absolute;
  top: 14px;
  right: 14px;
  background-color: transparent;
}

.story__dialog-close svg {
  width: 12px;
  height: 12px;
}

.story__dialog-art {
  margin-top: 20px;
  width: 100%;
}

.story__dialog-art-wrapper {
  width: 120px;
  height: 60px;
}

.story__dialog__chapter {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.story__dialog__chapter-content {
  font-weight: 400;
  font-size: calc(1rem * 12 / 16);
  color: var(--colors-pink);
  margin-top: 10px;
  line-height: 1.4;
}

@media screen and (min-width: 48rem) {
  .story__dialog-art-wrapper {
    width: 250px;
    height: 125px;
    margin-top: 20px;
  }

  .story__dialog {
    padding: 0 20px 20px;
  }

  .story__dialog__chapter {
    max-width: 90%;
    margin-top: 45px;
  }

  .story__dialog__chapter-heading {
    font-size: calc(1rem * 44 / 16);
  }

  .story__dialog__chapter-content {
    font-size: calc(1rem * 20 / 16);
    margin-top: 15px;
  }

  .story__dialog-close {
    top: 22px;
    right: 22px;
  }

  .story__dialog-close svg {
    width: 22px;
    height: 22px;
  }
}

@media screen and (min-width: 87.5rem) {
  .story__dialog-art-wrapper {
    width: 260px;
    height: 130px;
  }

  .story__dialog {
    padding: 0 30px 30px;
  }

  .story__dialog__chapter {
    width: 85%;
    max-width: 1200px;
    margin-top: 55px;
  }

  .story__dialog__chapter-heading {
    font-size: calc(1rem * 48 / 16);
  }

  .story__dialog__chapter-content {
    font-size: calc(1rem * 24 / 16);
  }

  .story__dialog-close {
    top: 26px;
    right: 26px;
  }

  .story__dialog-close svg {
    width: 26px;
    height: 26px;
  }

  .story__progress {
    padding: 3px 0;
    margin-left: -60px;
    width: calc(100% + 120px);
  }
}

@media screen and (min-width: 125rem) {
  .story__dialog-art-wrapper {
    width: 320px;
    height: 160px;
  }
}
